/* Hero */

#allHeroBtn {
	animation: fadeInLeft;
	animation-duration: 1s;
}
#shirtsHeroBtn {
	animation: fadeInLeft;
	animation-duration: 2s;
}
#pantsHeroBtn {
	animation: fadeInLeft;
	animation-duration: 3s;
}
#tecnologyHeroBtn {
	animation: fadeInLeft;
	animation-duration: 4s;
}

/* Tests */
#heroHeader {
	animation: backInRight;
	animation-duration: 2s;
}
