/* Hero */
#allHeroBtn {
	animation: fadeInLeft;
	animation-duration: 1s;
}
#shirtsHeroBtn {
	animation: fadeInLeft;
	animation-duration: 2s;
}
#pantsHeroBtn {
	animation: fadeInLeft;
	animation-duration: 3s;
}
#tecnologyHeroBtn {
	animation: fadeInLeft;
	animation-duration: 4s;
}
#heroHeader {
	animation: backInRight;
	animation-duration: 2s;
}
/* Hero IMG */
#heroImg {
	animation: fadeIn;
	animation-duration: 1s;
}
#heroTittle {
	animation: fadeIn;
	animation-duration: 1s;
}
#heroParraph {
	animation: fadeIn;
	animation-duration: 2s;
}
/* Login/Register */
.fadeOut {
	animation:  fadeOut;
	animation-duration: 1s;
}
.fadeIn {
	animation:  fadeIn;
	animation-duration: 1s;
}