/* Universal styles */
html {
	scroll-behavior: smooth
}

body {
	background-color: #f2f2f2;
}

/* Hero styles */
#heroContainer{
	background-color:white;
}
#catsGirl{
	position: absolute;
	z-index: 2;
}
#laptopGirlCol {
	position: relative;
	padding-bottom: 0px;
	z-index: 1;
}
#textoGirl {
	margin-top: 120px;
	margin-left: 650px;
}

/* Products Cards */
.tabs, .card-footer {
	background-color: whitesmoke;
}
.card {
	width:18em;
}
.card-header {
	background-color:white;
}
.card-img-top {
	height:11em;
	width:12em;
}
.dollarPrice {
	font-size:120%;
}
.price {
	font-size:135%;
}
.nonStockButton {
	pointer-events: none;
}