/* Universal styles */
html {
	scroll-behavior: smooth
}

body {
	background-color: #f2f2f2;
}
h1 strong, h3 strong {
	color: #383D41;
}

/* Navbar styles Roboto Black*/
#navbarTop {
	background-color: whitesmoke;
	padding-right: 130px;
}
.yourBrandLogo {
	font-weight: bold !important;
	font-style: italic !important;
}
.navText {
	font-size: 105%;
	font-weight: bold;
}
/* Hero styles */
#heroContainer{
	background-color: white;
}
#catsGirl{
	margin-top: 80px;
	position: absolute;
	z-index: 2;
}
#laptopGirlCol {
	margin-left: 170px;
	position: relative;
	padding-bottom: 0px;
	z-index: 1;
}
#textoGirl {
	margin-top: 120px;
	margin-left: 600px;
}

/* Products Cards */
.card-footer {
	background-color: whitesmoke;
}
.card {
	width:18em;
}
.card-header {
	background-color:white;
}
.card-img-top {
	height:11em;
	width:12em;
}
	/* Add to cart button */
.nonStockButton {
	pointer-events: none;
}
	/* Price */
.noPrice {
	font-size: 90%;
	padding-bottom: 11px;
}
.dollarPrice {
	font-size:120%;
}
.price {
	font-size:135%;
}