/* Universal styles */
html {
	scroll-behavior: smooth
}
body {
	background-color: #f2f2f2;
}
h1 strong, h3 strong {
	color: #383D41;
}
/* Box shadow */
.form-control:focus {
	box-shadow: none;
}
div .input-group-append button:focus {
	box-shadow: none;	
}
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #dc3545;
}
/* Navbar styles */
#navbarTop {
	background-color: whitesmoke;
	padding-right: 130px;
}
.yourBrandLogo {
	font-weight: bold !important;
	font-style: italic !important;
}
/* Hero styles */
#heroContainer{
	background-color: white;
}
#heroRow {
	margin-left:100px;
}
#catsGirl{
	margin-top: 80px;
	position: absolute;
	z-index: 2;
}
#laptopGirlCol {
	margin-left: 170px;
	position: relative;
	padding-bottom: 0px;
	z-index: 1;
}
#textoGirl {
	margin-top: 110px;
	margin-left: 550px;
}

/* Products Cards */
.card-footer {
	background-color: whitesmoke;
}
.card {
	width:18em;
}
.card-header {
	background-color:white;
}
.card-img-top {
	height:11em;
	width:12em;
}
	/* Add to cart button */
.nonStockButton {
	pointer-events: none;
}
	/* Price */
.noPrice {
	font-size: 90%;
	padding-bottom: 11px;
}
.dollarPrice {
	font-size:120%;
}
.price {
	font-size:135%;
}
/* Footer */
#backgroundFooter {
	background-color: gray;
}

/* Media Queries */

	/* XS, SM */
@media only screen and (max-width: 768px) {
	#productsArea .col-12 .card {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	#searchItem {
		width: 100% !important;
	}
	.yourBrandLogo {
		font-size: 140%;
		margin-bottom: 0px;
	}
	.navbar-nav {
		font-size: 100%;
	}
	.nav-item {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

	/* >SM */
@media only screen and (min-width: 500px) {
	.yourBrandLogo {
		font-size: 160%;
		margin-bottom: 0px;
	}
}

	/* >MD */
@media only screen and (min-width: 768px) {
	.yourBrandLogo {
		font-size: 170%;
		margin-bottom: 0px;
	}
}

	/* >LG */
@media only screen and (min-width: 992px) {
	#navbarSupportedContent {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	#laptopGirlCol {
		margin-right: 50px !important;
	}
	#heroRow {
		margin-left: 60px !important;
	}
}

	/* >XL */
@media only screen and (min-width: 1000px) {
	#textoGirl {
		display: inline-block !important;
	}
}
@media only screen and (min-width: 1200px) {
	#searchItem {
		width: 450px
	}
}