#allHeroBtn, #shirtsHeroBtn, #pantsHeroBtn, #tecnologyHeroBtn{
	display: inline-block;
}
#allHeroBtn {
	animation: fadeInLeft;
	animation-duration: 1s;
}
#shirtsHeroBtn {
	animation: fadeInLeft;
	animation-duration: 2s;
}
#pantsHeroBtn {
	animation: fadeInLeft;
	animation-duration: 3s;
}
#tecnologyHeroBtn {
	animation: fadeInLeft;
	animation-duration: 4s;
}
.animacion {
	animation: fadeIn;
	animation-duration: 1s;
}
/*  fadeInLeft*/