<!-- CONFIG -->
link(rel="icon" type="img/png" href="/public/img/favicon.png")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Your company

<!-- PRELOADING -->
<link rel="preload" as="style" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="preload" as="style" href="/node_modules/bootstrap/dist/css/bootstrap.min.css.map">

<link rel="modulepreload" href="/public/js/scripts.js">
<link rel="modulepreload" href="/public/js/pagination.js">
<link rel="modulepreload" href="/public/js/heroButtons.js">

<link rel="preload" as="style", href="/public/css/animations.css">
<link rel="preload" as="style", href="/node_modules/animate.css/animate.min.css">

<!-- BOOTSTRAP CSS-->
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css.map">

<!-- FONT AWESOME -->
<script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
<script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>

<script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

<!-- ANIMATE.CSS -->
<link rel="stylesheet", href="/node_modules/animate.css/animate.min.css">