doctype html
html(lang="en")
	head
		<!-- CONFIG -->
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title E-commerce

		<!-- BOOTSTRAP CSS -->
		<link rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

		<!-- FONT AWESOME -->
		<script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js">		
		</script>
		<script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js">
		</script>

		<script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js">
		</script>

		<!-- CSS PROPIO-->
		<link rel="stylesheet", href="/public/css/styles.css">
		
		<!-- ANIMACIONES -->
		<link rel="stylesheet", href="/public/css/animations.css">
		<link rel="stylesheet" href="/node_modules/animate.css/animate.min.css">

	body

		include ../public/navbar.html

		include ../public/hero.html

		br/

		include products.pug

		include pagination.pug
		
		br/

		include ../public/footer.html

		<!-- BOOTSTRAP JAVASCRIPT -->
		script(type="module" src="/public/js/bootstrap.js")

		<!-- JAVASCRIPT -->
		script(type="module" src="/public/js/pagination.js")

		script(type="module" src="/public/js/heroButtons.js")