doctype html
html(lang="en")
	head
		<!-- CONFIG -->
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title E-commerce

		<!-- BOOTSTRAP CSS -->
		link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")

		<!-- FONT AWESOME -->
		script(defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js")
		script(defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js")
		script(defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js")

		<!-- CSS -->
		link(rel="stylesheet", href="/public/css/estilos.css")
		
	body

		include navbar.pug

		include hero.pug

		br/

		include products.pug

		include pagination.pug
		
		br/

		include footer.pug

		<!-- BOOTSTRAP JAVASCRIPT -->
		script(href="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")

		<!-- JAVASCRIPT -->
		script(type="module" src="/public/js/pagination.js")

		script(type="module" src="/public/js/heroButtons.js")