doctype html
html(lang="en")
	head
		include head.pug
		<!-- CSS PROPIO-->
		link(rel="stylesheet", href="/public/css/styles.css")
		link(rel="stylesheet", href="/public/css/animations.css")
	body
		div(id="all")
			include navbar.pug
			include ../public/hero.html
			br/
			<!-- LOADER -->
			div(id="loader" class="container")
				div(class="row")
					div(class="col-12 my-5 d-flex justify-content-center")
						div(class="spinner-border" role="status")
							span(class="sr-only") Loading
			div(class="d-none" id="productsAndPagination")
				include products.pug
				include pagination.pug
			br/
			include ../public/footer.html

		<!-- BOOTSTRAP JAVASCRIPT -->
		script(type="module" src="/public/js/bootstrap.js")
		<!-- JAVASCRIPT -->
		script(type="module" src="/public/js/products/scripts.js")
		script(type="module" src="/public/js/products/topProductsPagination.js")
		script(type="module" src="/public/js/products/heroButtons.js")