doctype html
html(lang="en")
	head
		<!-- CONFIG -->
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title E-commerce

		<!-- BOOTSTRAP CSS -->
		link(rel="stylesheet", href="/libs/bootstrap/css/bootstrap.min.css")
		
		<!-- CSS -->
		link(rel="stylesheet", href="/public/css/estilos.css")

		<!-- FONT AWESOME -->
		script(defer src="/libs/fontawesome/js/brands.js")
		script(defer src="/libs/fontawesome/js/solid.js")
		script(defer src="/libs/fontawesome/js/fontawesome.js")

	body

		include navbar.pug

		include hero.pug

		br/

		include products.pug

		include pagination.pug
		
		br/

		include footer.pug

		<!-- JAVASCRIPT -->
		script(type="module" src="/public/js/pagination.js")
		script(type="module" src="/public/js/heroButtons.js")

		<!-- BOOTSTRAP JAVASCRIPT -->
		script(href="/libs/bootstrap/jquery.js")
		script(href="/libs/bootstrap/popper.min.js")
		script(href="/libs/bootstrap/js/bootstrap.min.js")