div(class="container-fluid bg-secondary px-5 pt-3")
	nav(class="navbar navbar-secondary navbar-dark pt-0")

		div(class="navbar-brand mb-3")
			h2 Your company

		div(class="navbar-nav")
			div(class="row")

				div(class="col" style="width:200px")
					i(class="fas fa-undo d-inline mr-2")
					h5(class="d-inline")
						strong Return policy
					p(class="text-center text-light") 15 days free return

				div(class="col")
					i(class="fas fa-truck d-inline mr-2")
					h5(class="d-inline")
						strong Free shiping
					p(class="text-center text-light") In U.S.A

				div(class="col")
					i(class="fas fa-check-circle d-inline mr-2")
					h6(class="d-inline" style="font-size:118%;margin-top:3px;")
						strong 100% Original
					p(class="text-center text-light") Quality guarantee


div(class="container-fluid border-bottom shadow-sm bg-dark px-5")
	nav(class="navbar navbar-expand navbar-dark")

		div(class="navbar-nav")
			a(class="nav-link label" href="#") Brands

			a(class="nav-link" href="#") About us

			a(class="nav-link" href="#") FAQ

			a(class="nav-link" href="#") Delivery

			a(class="nav-link" href="#") Help

			a(class="nav-link" href="#") Contact us

		div(class="navbar-nav ml-auto")
			a(href="#" class="nav-link active")
				i(class="fas fa-user fa-lg my-auto" style="color:white;")
				strong
					p(class="ml-2 d-inline mr-1") My Account

			a(href="#" class="nav-link active")
				i(class="fas fa-sign-out-alt fa-lg my-auto ml-1" style="color:white;")
				strong
					p(class="ml-2 d-inline") Log out