doctype html
html(lang="en")
	head
		include head.pug
		link(rel="stylesheet", href="/public/css/styles.css")
	body
		
		script(src="/public/js/test.js")
		script(type="module" src="/public/js/bootstrap.js")