<div class="container-fluid shadow-sm py-0" id="heroContainer">
	
	<div class="container py-0">
		
		<div class="row">
			
			<!-- CATEGORIES COLUMN -->
			<div class="col-3" id="catsGirl">

				<div class="list-group w-75" id="heroCategoriesList">
					
					<!-- ALL PRODUCTS -->
					<a
						class="list-group-item lead list-group-item-action list-group-item-secondary active"
						id="allHeroBtn"
						href="#productsTittle"
					>
						<span>All</span>
					</a>

					<!-- SHIRTS-->
					<a
						class="list-group-item lead list-group-item-action"
						id="shirtsHeroBtn"
						href="#productsTittle"
					>
						<span>Shirts</span>
					</a>

					<!-- PANTS -->
					<a
						class="list-group-item lead list-group-item-action"
						id="pantsHeroBtn"
						href="#productsTittle"
					>
						<span>Pants</span>
					</a>

					<!-- Tecnology -->
					<a
						class="list-group-item lead list-group-item-action"
						id="tecnologyHeroBtn"
						href="#productsTittle"
					>
						<span>Tecnology</span>
					</a>

				</div>

			</div>

			<div class="col-9 pb-0" id="laptopGirlCol">

				<div class="row">

					<!-- PHOTO-->
					<div class="col-6">
							
						<img src="/public/img/laptopGirl.jpg" alt="A girl with a laptop" id="heroImg">


					</div>

					<!-- HERO TEXT -->
					<div class="col-6 position-absolute" id="textoGirl">
						
						<!-- TITTLE -->
						<h1 id="heroTittle">
							<strong>ENJOY SHOPPING</strong>
						</h1>
						
						<!-- TEXT -->
						<p id="heroParraph" class="text-justify text-muted w-100">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero provident et optio, sed. Architecto earum provident vitae cum nostrum fugiat, animi totam ea laborum nesciunt corrupti aspernatur neque aut eius.
						</p>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>