<div class="container-fluid shadow-sm py-0" id="heroContainer">
	
	<div class="container px-5 py-0">
		
		<div class="row">
			
			<!-- CATEGORIES COLUMN -->
			<div class="col-3 my-5" id="catsGirl">
				
				<div class="list-group shadow w-75" id="heroCategoriesList">
					
					<!-- ALL PRODUCTS -->
					<a
						class="list-group-item lead list-group-item-action active list-group-item-dark"
						id="allHeroBtn"
						href="#productsTittle"
					>
						All
					</a>

					<!-- SHIRTS-->
					<a
						class="list-group-item lead list-group-item-action"
						id="shirtsHeroBtn"
						href="#productsTittle"
					>
						Shirts
					</a>

					<!-- PANTS -->
					<a
						class="list-group-item lead list-group-item-action"
						id="pantsHeroBtn"
						href="#productsTittle"
					>
						Pants
					</a>

					<!-- Tecnology -->
					<a
						class="list-group-item lead list-group-item-action"
						id="tecnologyHeroBtn"
						href="#productsTittle"
					>
						Tecnology
					</a>

					<!-- Food -->
					<a
						class="list-group-item lead list-group-item-action disabled"
						id="foodHeroBtn"
						href="#productsTittle"
					>
						Food
					</a>

				</div>

			</div>

			<div class="col-9 ml-5 pl-5 pb-0" id="laptopGirlCol">

				<div class="row">

					<!-- PHOTO-->
					<div class="col-6 ml-5 pl-5">
							
						<img src="/public/img/laptopGirl.jpg" alt="A girl with a laptop">


					</div>

					<!-- HERO TEXT -->
					<div class="col-6 position-absolute" id="textoGirl">
						
						<!-- TITTLE -->
						<h1>
							<strong>ENJOY SHOPPING</strong>
						</h1>
						
						<!-- TEXT -->
						<p class="text-justify text-muted" style="width: 91%;">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero provident et optio, sed. Architecto earum provident vitae cum nostrum fugiat, animi totam ea laborum nesciunt corrupti aspernatur neque aut eius.
						</p>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>