<div class="container-fluid d-none" id="navbarTop">
	<div class="row text-right">
		<div class="col-12">
			<p class="text-warning my-2 d-inline">
				<strong>FREE 1-2 DAY SHIPPING OVER $49!</strong>
			</p>
			<i class="fas fa-automobile d-inline"></i>
		</div>
	</div>
</div>

<div class="container-fluid border-bottom shadow bg-info">
	
	<nav class="container navbar navbar-expand-lg navbar-secondary navbar-dark ">
		
		<!-- BRAND LOGO -->
		<a href="#" class="navbar-brand">
			
			<h2 class="yourBrandLogo">
				Your Company
			</h2>

		</a>

		<!-- SEARCH INPUT -->
		<ul class="navbar-nav mx-auto my-3">
			<li class="nav-item">

				<div class="input-group shadow-sm">	
					<input type="text" class="form-control border-0" placeholder="An amazing shirt" style="width:325px" autofocus>

					<div class="input-group-append">
						<button
							class="btn btn-outline btn-link bg-white border-0 input-group-text"
							aria-label="searchButton"
							alt="Link"
						>
							<a href="#productsTittle">
								<i class="fas fa-search text-info"></i>
							</a>
						</button>
					</div>
				</form>

			</li>
		</ul>

		<!-- NAVBAR ITEMS -->
		<ul class="navbar-nav">
			<!-- 24/7 HELP -->
			<li class="nav-item my-auto">
				<a href="#" class="nav-link active d-inline px-0 py-0 mr-1 text-warning">
					<i class="fas fa-phone fa-lg"></i>
				</a>
				<a href="#" class="nav-link active d-inline px-0 py-0 navText">
					24/7 help
				</a>
			</li>

			<!-- your cart "dropdown" -->
			<li class="nav-item dropdown my-auto mx-4">

				<a 
					href="#" 
					class="nav-link d-inline px-0 py-0 mr-1" 
				>
					<i class="fas fa-shopping-cart d-inline text-warning fa-lg"></i>
					<p class="d-inline text-white ml-1">
						<strong>your cart</strong>
					</p>
				</a>

			</li>

			<!-- your account "dropdown" -->
			<li class="nav-item my-auto dropdown">

				<a 
					href="#" 
					class="nav-link d-inline px-0 py-0 mr-1"
		        	id="yourAccountDropdown" 
		       		data-toggle="dropdown" 
				>
					<i class="fas fa-user d-inline text-warning fa-lg"></i>
					<p class="d-inline text-white ml-1">
						<strong>your account</strong>
					</p>
					<i class="fas fa-chevron-down d-inline fa-sm"></i>
				</a>


				<div
					class="dropdown-menu py-0"
					aria-labelledby="yourAccountDropdown"
				>
					<div
			          	class="card rounded-0 mx-0"
			          	style="width: 15em;"
		        	>
			        	<img
							src="/public/img/profilepic.jpg"
							class="rounded-circle w-50 mt-3"
							alt="gray"
							style="margin-left:60px;"
						>
		          	<div class="card-body pt-3">
		          		<h5 class="card-title text-center mb-1">
		          			<strong>Pablo Hernandez</strong>
		          		</h5>
		          		<div class="card-text text-center mb-0">
		          			<p class="text-muted d-inline">Current balance:</p>
		          			<i
		          			class="fas fa-dollar-sign fa-sm d-inline mx-0 text-black-50"
		          			>
		          			</i><strong class="mx-0 d-inline text-black-50">100</strong>
		          		</div>
		          	</div>
		          </div>

		          <a href="#" class="dropdown-item my-2">
		          	<i class="fas fa-user-cog d-inline mr-2"></i>
		          	<p class="d-inline lead" style="font-size:110%;">Account Settings</p>
		          </a>
		          <div class="dropdown-item disabled my-0 mx-0 px-0 py-0">
		          	<hr class="w-100 my-0 mx-0 px-0 py-0">
		          </div>
		          <a href="#" class="dropdown-item my-2">
		          	<i class="fas fa-sign-out-alt d-inline mr-2"></i>
		          	<p class="d-inline ml-1 lead" style="font-size:110%;">Log out</p>
		          </a>

		        </div>

			</li>
		</ul>
		<!-- END NAVBAR ITEMS -->
	</nav>

</div>