<div class="container-fluid border-bottom shadow bg-info">
	
	<nav class="container navbar navbar-expand-lg navbar-secondary navbar-dark" id="navbar">
		
		<!-- BRAND LOGO -->
		<a href="#" class="navbar-brand d-inline">
			<h2 class="yourBrandLogo">
				Your Company
			</h2>
		</a>

		<!-- COLLAPSER -->
		<button
			class="navbar-toggler d-inline d-md-none"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!-- SEARCH INPUT -->
		<ul class="navbar-nav mx-auto d-block my-3" id="searchNav">
			<li class="nav-item" id="searchItem">

				<div class="input-group shadow-sm rounded-pill">	
					<input type="text" class="form-control border-0 w-75 " placeholder="An amazing shirt" autofocus>

					<div class="input-group-append">
						<button
							class="btn btn-outline btn-link bg-white border-0 input-group-text"
							aria-label="searchButton"
							alt="Link"
						>
							<a href="#productsTittle">
								<i class="fas fa-search text-info"></i>
							</a>
						</button>
					</div>
				</div>

			</li>
		</ul>

		<!-- COLLAPSER -->
		<button
			class="navbar-toggler d-none d-md-inline d-lg-none"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- NAVBAR ITEMS -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav d-md-block ml-lg-auto mr-lg-0 my-md-3">
				<li class="nav-item mt-2 my-3">
					<!-- 24/7 HELP -->
					<a href="#" class="nav-link d-inline px-0 py-0 mr-1 text-warning">
						<i class="fas fa-phone fa-lg d-none d-sm-inline"></i>
						<p class="d-inline text-white ml-1">
							<strong>24/7 help</strong>
						</p>
					</a>

					<!-- your cart -->
					<a 
						href="#" 
						class="nav-link d-inline px-md-0 py-md-0 mx-3 mx-md-4 mx-lg-3" 
					>
						<i class="fas fa-shopping-cart d-none d-sm-inline text-warning fa-lg"></i>
						<p class="d-inline text-white ml-1">
							<strong>your cart</strong>
						</p>
					</a>

					<!-- your account "dropdown" -->
					<a 
						href="#navbar" 
						class="nav-link d-inline px-md-0 py-md-0" 
					>
						<i class="fas fa-user d-none d-sm-inline text-warning fa-lg"></i>
						<p class="d-inline text-white ml-1">
							<strong>account</strong>
						</p>
						<a
							href="#navbar"
			       			class="nav-link d-none mx-0 d-md-inline"
			       			id="dropdownMenuLink"
			       			data-toggle="dropdown"
			       		>
			       			<i class="fas fa-chevron-down fa-sm"></i>
			       		</a>
			       		<div
			       			class="dropdown-menu"
			       			aria-labelledby="dropdownMenuLink"
			       		>
			       			<a href="#" class="dropdown-item">Settings</a>
			       			<a href="/logout" class="dropdown-item">Log out</a>
			       		</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- END NAVBAR ITEMS -->
	</nav>

</div>