<div class="container-fluid d-none" id="navbarTop">
	<div class="row text-right">
		<div class="col-12">
			<p class="text-warning my-2 d-inline">
				<strong>FREE 1-2 DAY SHIPPING OVER $49!</strong>
			</p>
			<i class="fas fa-automobile d-inline"></i>
		</div>
	</div>
</div>

<div class="container-fluid border-bottom shadow bg-info">
	
	<nav class="container navbar navbar-expand-lg navbar-secondary navbar-dark ">
		
		<!-- BRAND LOGO -->
		<a href="#" class="navbar-brand">
			
			<h2 class="yourBrandLogo">
				Your Company
			</h2>

		</a>

		<!-- SEARCH INPUT -->
		<ul class="navbar-nav mx-auto my-3">
			<li class="nav-item">

				<div class="input-group shadow">	
					<input type="text" class="form-control border-0" placeholder="An amazing shirt" style="width:325px">

					<div class="input-group-append">
						<button
							class="btn btn-outline btn-link bg-white border-0 input-group-text"
							aria-label="searchButton"
							alt="Link"
						>
							<a href="#productsTittle">
								<i class="fas fa-search text-info"></i>
							</a>
						</button>
					</div>
				</form>

			</li>
		</ul>

		<!-- NAVBAR ITEMS -->
		<ul class="navbar-nav">
			<!-- 24/7 HELP -->
			<li class="nav-item my-auto">
				<a href="#" class="nav-link active d-inline px-0 py-0 mr-1 text-warning">
					<i class="fas fa-phone fa-lg"></i>
				</a>
				<a href="#" class="nav-link active d-inline px-0 py-0 navText">
					24/7 help
				</a>
			</li>

			<!-- your cart "dropdown" -->
			<li class="nav-item dropdown my-auto mx-4">

				<a 
					href="#" 
					class="nav-link d-inline px-0 py-0 mr-1"
		        	id="navbarDropdown" 
		       		data-toggle="dropdown" 
				>
					<i class="fas fa-shopping-cart d-inline text-warning fa-lg"></i>
					<p class="d-inline text-white ml-1">
						<strong>your cart</strong>
					</p>
					<i class="fas fa-chevron-down d-inline fa-sm"></i>
				</a>


				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>

			</li>

			<!-- your account "dropdown" -->
			<li class="nav-item my-auto dropdown">

				<a 
					href="#" 
					class="nav-link d-inline px-0 py-0 mr-1"
		        	id="yourAccountDropdown" 
		       		data-toggle="dropdown" 
				>
					<i class="fas fa-user d-inline text-warning fa-lg"></i>
					<p class="d-inline text-white ml-1">
						<strong>your account</strong>
					</p>
					<i class="fas fa-chevron-down d-inline fa-sm"></i>
				</a>


				<div class="dropdown-menu" aria-labelledby="yourAccountDropdown">
		          <a class="dropdown-item" href="#">SI</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>

			</li>
		</ul>
		<!-- END NAVBAR ITEMS -->
	</nav>

</div>