<!DOCTYPE html>
<html lang="en">
<head>
	<!-- OTROS-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Documento de Pruebas</title>
	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css">	
	<!-- CSS PROPIO-->
	<link rel="stylesheet", href="/public/css/test.css">
  	<!-- ANIMACIONES -->
  	<link rel="stylesheet" href="/public/css/animate.min.css">
</head>
<body>
	<!-- CUERPO -->
	<div class="container">
		<div class="row">
			
			<!-- CATEGORIES COLUMN -->
			<div class="col-3" id="catsGirl">

				<div class="list-group w-75 animacion" id="heroCategoriesList">
					
					<!-- ALL PRODUCTS -->
					<a
						class="list-group-item lead list-group-item-action list-group-item-secondary active uno"
						id="allHeroBtn"
						href="#productsTittle"
					>
						<span class="">All</span>
					</a>

					<!-- SHIRTS-->
					<a
						class="list-group-item lead list-group-item-action dos"
						id="shirtsHeroBtn"
						href="#productsTittle"
					>
						<span>Shirts</span>
					</a>

					<!-- PANTS -->
					<a
						class="list-group-item lead list-group-item-action tres"
						id="pantsHeroBtn"
						href="#productsTittle"
					>
						<span>Pants</span>
					</a>

					<!-- Tecnology -->
					<a
						class="list-group-item lead list-group-item-action cuatro"
						id="tecnologyHeroBtn"
						href="#productsTittle"
					>
						<span>Tecnology</span>
					</a>

				</div>

			</div>
		</div>
	</div>
	
	<script>
		
	</script>
	<!-- BOOTSTRAP JAVASCRIPT -->
	<script type="module" src="./js/bootstrap.js"></script>
</body>
</html>